
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="home" class="header__logo">
								<svg xmlns="http://www.w3.org/2000/svg" width="200" height="90">
								  <g transform="translate(100, 100) rotate(-0.0663417)">
								    <text stroke="#000" font-weight="bold" xml:space="preserve" text-anchor="middle" font-family="Noto Sans JP" font-size="28" y="-45" x="-40" fill="#ffffff">Yum</text>
								    <text stroke="#000" font-weight="bold" xml:space="preserve" text-anchor="middle" font-family="Noto Sans JP" font-size="34" y="-43" x="22" fill="#ff0000">Film</text>
								  </g>
								</svg>
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="header__nav-link" href="home" aria-haspopup="true" aria-expanded="false">Trang chủ</a>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="booking" class="header__nav-link">Danh sách phim</a>
								</li>
								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Góc điện ảnh</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
										<li><a href="genre">Thể loại phim</a></li>
										<li><a href="actor">Diễn viên</a></li>
										<li><a href="producer">Đạo diễn</a></li>
										<li><a href="director">Nhà sản xuất</a></li>
									</ul>
								</li>
								<!-- end dropdown -->

								<li class="header__nav-item">
									<a href="faq" class="header__nav-link">Trợ giúp</a>
								</li>
								<li class="header__nav-item me-2">
									<a href="about" class="header__nav-link">Chúng tôi</a>
								</li>

							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								<button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button>

								<a href="signin" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Đăng nhập</span>
								</a>
							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<form action="#" class="header__search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
							<input type="text" placeholder="Tìm kiếm phim hoặc diễn viên">
							<button type="button">Tìm kiếm</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end header search -->
	</header>
	<!-- end header -->