<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{title/titleBootstrap}"></head>

<body class="body">
	<!-- header -->
	<header th:insert="~{header/headeradmin}"></header>
	<!-- end header -->
	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container" >
		<form  method="post" enctype="multipart/form-data">
			<div class="row" th:object="${detailFimlAdmin}" >
				<div class=" col-lg-4 col-md-6 col-sm-12 ">
					 <div class="card__cover">
						<img  th:if="${detailFimlAdmin != null}" th:src="@{'/images/' + *{FilmImage}}" alt="">
						<input name="showImage" th:value="*{FilmImage}" hidden />
					</div> 
					<div>
					<input 
						type="file" 
						class="price__btn" 
						name = "fileImage"
						>
						</input>
					</div>
				</div>
				<div class="col-lg-8 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Tên phim</label> 
							<input name = "filmName" type="text" class="form__input" th:field="*{FilmName}">
                                                                                                                
						</div>
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Năm sản xuất</label> 
							<input name = "yearProduction" type="text" class="form__input" th:field="*{YearProduction}">
						</div>
					</div>
					
						<div class="row">
							<div class="col-lg-6">
								<label for="" style="color: aliceblue;">Thời lượng phim</label>
								<input name = "filmTime" type="text" class="form__input" th:field="*{FilmTime}">
							</div>
							<div class="col-lg-6">
								<label for="" style="color: aliceblue;">Đạo diễn</label> 
								<input name = "directorName" type="text" class="form__input" th:field="*{DirectorName}">
							</div>
						</div>
					
					<div class="row">
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Thể loại</label>
							<textarea  class="form__textarea" name="FILMTYPES" id="" th:field="*{FILMTYPES}"></textarea>
						</div>
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Thời gian công chiếu</label> 
							<input name = "premiereDate" type="date" class="form__input" th:field="*{PremiereDate}"> 
								<label for="" style="color: aliceblue;">Quốc gia</label> 
								<input name = "countryId" type="text" class="form__input" th:field="*{CountryId}">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Giá</label>
							<input name = "price" type="text" class="form__input" th:field="*{price}"> 
							
						</div>
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Độ tuổi</label> 
							<input name = "age" type="text" class="form__input" th:field="*{age}"> 
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Diễn viên</label>
							<textarea name = "ACTORS" class="form__textarea" id="" th:field="*{ACTORS}"></textarea>
						</div>

						<div class="col-lg-6">
							<label for="" style="color: aliceblue;">Nội dung phim</label>
							<textarea name = "description" class="form__textarea" id="" th:field="*{Description}"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<button class="form__btn" style="margin-left: 15px;" th:formaction="@{/manager/film-detail/add}">Thêm</button>
						</div>
						<div class="col-lg-3">
							<button class="form__btn" th:formaction="@{/manager/film-detail/update?filmId={FilmId} (FilmId = ${detailFimlAdmin.FilmId})}">Sửa</button>
						</div>
						<div class="col-lg-3">
							<button class="form__btn" th:formaction="@{/manager/back}">Quay lại</button>
						</div>
						<div class="col-lg-3">
							<button class="form__btn"  th:formaction="@{/manager/film-detail/delete?filmId={FilmId} (FilmId = ${detailFimlAdmin.FilmId})}">Xóa</button>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->


	<!-- footer -->
	<footer th:insert="~{footer/footer}"></footer>
	<!-- end footer -->

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe. 
		It's a separate element, as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
			<!-- don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close"
						title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--fs"
						title="Toggle fullscreen"></button>

					<!-- Preloader -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<button class="pswp__button pswp__button--arrow--left"
					title="Previous (arrow left)"></button>

				<button class="pswp__button pswp__button--arrow--right"
					title="Next (arrow right)"></button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script src="js/wNumb.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/plyr.min.js"></script>
	<script src="js/jquery.morelines.min.js"></script>
	<script src="js/photoswipe.min.js"></script>
	<script src="js/photoswipe-ui-default.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>